@inject ILogger<PlayerTable> Logger 

@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th>First name</th>
                <th>Second name</th>
                <th>Total points</th>
                <th>Price</th>
                <th>Minutes</th>
                <th>SelectedByPercent</th>
                <th>PointsOverPrice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                @if (! IsVisible(player))
                    continue;

                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.SecondName</td>
                    <td>@player.TotalPoints</td>
                    <td>@player.PriceF</td>
                    <td>@player.Minutes</td>
                    <td>@player.SelectedByPercent</td>
                    <td>@player.PointsOverPrice</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IEnumerable<Player>? players { get; set; }

    //[Parameter]
    //public Func<Player, bool> IsVisible { get; set; }

    [Parameter]
    public string filterStr { get; set; }

    //need to get filter string from above to get changes...

    public bool IsVisible(Player player)
    {
        Logger.LogInformation("Filter :{Filter}:", filterStr);

        if (string.IsNullOrEmpty(filterStr))
            return true;
    
        if (player.FirstName.StartsWith(filterStr) || player.SecondName.StartsWith(filterStr))
            return true;
    
        return false;
    }
}