@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table sortable">
        <thead>
            <tr>
                <th>First name</th>
                <th>Second name</th>
                <th>Total points</th>
                <th>Price</th>
                <th>Position</th>
                <th>Minutes</th>
                <th>SelectedByPercent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.FirstName</td>
                    <td>@player.SecondName</td>
                    <td>@player.TotalPoints</td>
                    <td>@player.PriceF</td>
                    <td>@player.Position</td>
                    <td>@player.Minutes</td>
                    <td>@player.SelectedByPercentF</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public Player[]? players { get; set; }
}

